
<div class="container" >
  <h1> List: <%= @list.name %> </h1>
  <% @list.movies.each do |movie| %>

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src= <%= movie.poster_url  %> class="img-fluid rounded-start" alt="poster">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= movie.title %></h5>
            <p class="card-text">Overview: <%= movie.overview  %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= link_to "Add Movie",  new_list_bookmark_path(@list), class:"btn btn-success" %>
  <%= link_to  "back to list",  lists_path, class:"btn btn-primary" %>
  <h2>Created at Location: <%= @list.city  %></h2>


</div>
